@import "https://fonts.googleapis.com/css?family=Mukta+Vaani:600|Roboto|Raleway:300,400,500,600,700|Hind:700";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #4C4C4C;
    font-size: 15px;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    line-height: 25px;
    text-align: justify;
    padding-bottom: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

strong {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
}


.menu-bg {
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.fixmenu-bg {
    position: fixed;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    box-shadow: 0 0 20px -10px #000;
    z-index: 999;
}

.logolink,.logolink:hover,.logolink:focus,.logolink:active
{
    text-decoration: none;
}
.logolink>img
{
    display: inline-block;
}


.logo
{
    font-family: 'Hind', sans-serif;
    margin: 0px;
    font-size: 30px;
    color: #020202;
    line-height: 38px;
}

.logo>span
{
    color: #00bdff;
}












.slider-bg {
    background: #ffffff;
}

.slider-toptitle {
    color: #00bfff;
    margin: 30px 0 10px 0;
    font-size: 28px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif!important;
}

.slider-subtitle {
    color: #00bfff;
    margin: 0px 0 20px 0;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif!important;
}

.slidercar-div {
    padding: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 9;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.40);
    border-radius: 8px;
    text-align: left;
    margin: 0 15px 15px 15px;
    height: 100%;
}

.slidercar-div > h4.name {
    color: #00bfff;
    margin: 0 0 6px 0;
    font-size: 18px;
    font-family: 'Mukta Vaani', sans-serif;
}

.slidercar-div span.carmodel {
    color: #7f7f7f;
    display: block;
    min-height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mukta Vaani', sans-serif;
}

@media (min-width: 991px) and (max-width: 1201px)
{
    .slidercar-div span.carmodel
    {
        min-height: 66px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .slidercar-div span.carmodel
    {
        min-height: 40px;
    }
    .slidercar-div
    {
        padding: 8px;
    }
}

.slidercar-div span em {
    font-style: normal;
    font-size: 12px;
}

.slidercar-div img {
    padding: 20px 0 25px 0;
}

.slidercar-div .onhp {
    text-align: center;
    color: #7f7f7f;
    margin-top: -6px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.slidercar-div .dt {
    display: table;
    margin-top: 12px;
    width: 100%;
}

.slidercar-div .dr {
    display: table-row;
}

.slidercar-div .dc {
    display: table-cell;
    text-align: left;
}

.slidercar-div .dc:last-child {
    padding-left: 12px;
}

.slidercar-div .nmpay {
    color: #7f7f7f;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Mukta Vaani', sans-serif;
}

.slidercar-div .nmamt {
    color: #00bfff;
    font-size: 18px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 8px;
    font-family: 'Mukta Vaani', sans-serif;
    position: relative;
    display: inline-block;
}

.slidercar-div .nmamtsp1:after {
    position: absolute;
    content: '*';
    right: -10px;
    top: 8px;
    color: #7f7f7f;
    font-size: 20px;
    line-height: 12px;
    font-family: 'Mukta Vaani', sans-serif;
    display: inline-block;
}

.slidercar-div .nmamtsp2, .nmamtsp2:hover, .nmamtsp2:focus, .nmamtsp2:active {
    display: inline-block;
    background-color: #00bfff;
    color: black;
    font-size: 16px;
    font-family: 'Mukta Vaani', sans-serif;
    padding: 4px 10px 4px 16px;
    border-radius: 4px;
    position: relative;
}

.slidercar-div .nmamtsp2:before {
    position: absolute;
    content: '*';
    left: 5px;
    top: 10px;
    color: black;
    font-size: 20px;
    line-height: 12px;
    font-family: 'Mukta Vaani', sans-serif;
    display: inline-block;
}

.slidercar-div .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.slidercar-div .ribbon span {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#00BFFF 0%, #008ebd 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;   
    font-family: 'Mukta Vaani', sans-serif;
}

.slidercar-div .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #008ebd;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008ebd;
}

.slidercar-div .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #008ebd;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008ebd;
}

.slider-inimg {
    display: inline-block;
}

.slider-righticon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 0px solid white;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
}

.slider-righticon:before {
    content: "\f105";
    font-family: FontAwesome;
    font-weight: 100;
    font-style: normal;
    color: #666666;
    font-size: 38px;
    line-height: 62px;
    position: absolute;
    text-shadow: none;
    left: 40%;
}

.removeright:before {
    content: none;
}

.carousel-control.right {
    background-image: none;
    opacity: 1;
}

.carousel-control.left {
    background-image: none;
    opacity: 1;
}

.slider-lefticon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 0px solid white;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
}

.slider-lefticon:before {
    content: "\f104";
    font-family: FontAwesome;
    font-weight: 100;
    font-style: normal;
    color: #666666;
    font-size: 38px;
    line-height: 62px;
    position: absolute;
    text-shadow: none;
    left: 30%;
}

.removeleft {
    transform: translateY(-50%);
    height: auto!important;
    width: auto!important;
    left: 30px!important;
    margin-left: 0px!important;
}

.removeright {
    transform: translateY(-50%);
    height: auto!important;
    width: auto!important;
    right: 30px!important;
    margin-right: 0px!important;
}

.carousel-control {
    width: 100px;
    text-align: justify;
}

.carousel-control.right {
    right: 0px;
}

@media (max-width: 991px) {
    .removeleft {
        left: 10px!important;
    }

    .removeright {
        right: 10px!important;
    }
}

@media (max-width: 768px) {
    .slider-lefticon {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 0px solid white;
        background-color: transparent;
        position: relative;
        border-radius: 50%;
    }

    .slider-lefticon:before {
        content: "\f104";
        font-family: FontAwesome;
        font-weight: 100;
        font-style: normal;
        color: #666666;
        font-size: 24px;
        line-height: 38px;
        position: absolute;
        text-shadow: none;
        left: 30%;
    }

    .slider-righticon {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 0px solid white;
        background-color: transparent;
        position: relative;
        border-radius: 50%;
    }

    .slider-righticon:before {
        content: "\f105";
        font-family: FontAwesome;
        font-weight: 100;
        font-style: normal;
        color: #666666;
        font-size: 24px;
        line-height: 38px;
        position: absolute;
        text-shadow: none;
        left: 40%;
    }
}

.removeleft:before {
    content: none;
}

.sl-expensive {
    color: white;
    margin: 0 0 20px 0;
    font-size: 26px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.sl-expensive2 {
    margin: 20px 0 20px 0;
    color: white;
    font-size: 26px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.sl-android, .sl-android:hover, .sl-android:focus {
    padding: 8px 26px;
    text-align: left;
    color: #fff;
    background: #00bfff;
    border: 2px solid #00bfff;
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.sl-flexbox1 {
    width: 100%;
}

.sl-flexbox1 > div {
    margin-bottom: 20px;
}

.carousel-indicators .active {
    background-color: #4a2424;
}

.carousel-indicators li {
    border: 1px solid #311919;
}

.carousel-indicators {
    position: static;
    left: 0%;
    z-index: 1;
    width: 100%;
    margin: 10px 0 0 0px;
}

.bg1div {
    background: url('../images/hscbg1.jpg') no-repeat;
    background-attachment: scroll;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 60vh;    
    display: flex;
    align-items: center;
    width: 100%;
}

.bg2div {
    background: url('../images/hscbg2.jpg') no-repeat;
    background-attachment: scroll;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.bg3div {
    background: url('../images/hscbg3.jpg') no-repeat;
    background-attachment: scroll;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 767px) {
    .bg1div, .bg2div, .bg3div {
        background: none;
        min-height: 100px;
        margin-bottom: 40px;
    }
}

.hsctitle {
    border-bottom: 2px solid #00bfff;
    line-height: 36px;
    margin-bottom: 15px;
    font-size: 28px;
    padding-bottom: 10px;
}

.footerbg {
    background-color: #00bfff;
    padding-top: 10px;
}

.footerlink, .footerlink:hover, .footerlink:focus {
    display: inline-block;
    margin-bottom: 8px;
    color: white;
    font-size: 15px;
}

.footertext {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.headline {
    font-size: 14px;
    margin: 4px 0;
    line-height: 16px;
    text-transform: none!important;
}

@media (max-width: 767px) {
    .headline {
        font-size: 12px;
        margin: 0px 0 4px 14px;
    }
}

.aubg1div {
    background: url('../images/auscbg1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: block;
    padding-top: 80px;
    width: 100%;
}

.aubg2div {
    background: url('../images/auscbg2.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.aubg3div {
    background: url('../images/auscbg3.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.aubg4div {
    background: url('../images/auscbg4.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 767px) {
    .aubg1div, .aubg2div, .aubg3div, .aubg4div {
        background: none;
        min-height: 100px;
        margin-bottom: 40px;
    }
}

.apbg1div {
    background: url('../images/apscbg1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: block;
    padding-top: 80px;
    width: 100%;
}

.apbg2div {
    background: url('../images/apscbg2.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.apbg3div {
    background: url('../images/apscbg3.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.apbg4div {
    background: url('../images/apscbg4.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.apbg5div {
    background: url('../images/apscbg1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: 90% 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 767px) {
    .apbg1div, .apbg2div, .apbg3div, .apbg4div, .apbg5div {
        background: none;
        min-height: 100px;
        margin-bottom: 40px;
    }
}

.pros {
    font-size: 18px;
    margin: 16px 0 8px 0;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}

.prosul {
    margin-left: 20px;
}

.prosul li {
    color: #4C4C4C;
    font-size: 15px;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 6px;
}




































@media (min-width: 1500px) {
    .container {
        width: 1304px!important;
    }
    .slidercar-div
    {
        display: inline-block;
        width: 70%;
    }
}

@media (min-width: 1700px) {
    .container {
        width: 1504px!important;
    }
    .slidercar-div
    {
        display: inline-block;
        width: 70%;
    }
    .slider-bg {
        height: 70vh;
    }
    .results-row
    {
        text-align: center;
    }
    .car-div
    {
        width: 325px;
        height: 420px;
        display: inline-block;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1604px!important;
    }
    .slidercar-div
    {
        display: inline-block;
        width: 70%;
    }
    .slider-bg {
        height: 70vh;
    }
}

@media (min-width: 1900px) {
    .container {
        width: 1704px!important;
    }
    .slidercar-div
    {
        display: inline-block;
        width: 60%;
    }
    .slider-bg {
        height: 60vh;
    }
}

@media (min-width: 2100px) {
    .container {
        width: 1904px!important;
    }
    .slider-bg {
        height: 50vh;
    }
}

@media (min-width: 2200px) {
    .container {
        width: 2004px!important;
    }
}

@media (min-width: 2300px) {
    .container {
        width: 2104px!important;
    }
}

@media (min-width: 2400px) {
    .container {
        width: 2204px!important;
    }
}

@media (min-width: 2500px) {
    .container {
        width: 2304px!important;
    }
}

@media (min-width: 2600px) {
    .container {
        width: 2404px!important;
    }
}

@media (min-width: 2700px) {
    .container {
        width: 2504px!important;
    }
}

@media (min-width: 2800px) {
    .container {
        width: 2604px!important;
    }
}

@media (min-width: 2900px) {
    .container {
        width: 2704px!important;
    }
}

@media (min-width: 3000px) {
    .container {
        width: 2804px!important;
    }
}

@media (min-width: 3100px) {
    .container {
        width: 2904px!important;
    }
}

@media (min-width: 3200px) {
    .container {
        width: 3004px!important;
    }
}

@media (min-width: 3300px) {
    .container {
        width: 3104px!important;
    }
}

@media (min-width: 3400px) {
    .container {
        width: 3204px!important;
    }
}

@media (min-width: 3500px) {
    .container {
        width: 3304px!important;
    }
}


.tpbtns {
    margin-top: 10px;
    display: block;
    background-color: #d8d8d8;
    text-align: center;
    padding: 10px;
    border: 1px solid #5881a6;
    border-radius: 6px;
    color: Black;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    padding: 6px 22px 8px 22px;
}

.tpbtns:hover {
    background-color: #00bfff;
    color: Black;
}

.tpbtnsactive {
    background-color: #00bfff;
    color: Black;
}

.pheadtag {
    margin: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.42857143;
}




/*----------------------------------------------------------------------------------------------------------------------------*/

/*Old Css Code*/

/*----------------------------------------------------------------------------------------------------------------------------*/
/*.sdflexbox {
    display: flex;
    display: webkit-flex;
    align-items: stretch;
    flex-wrap: wrap;
}*/

.car-div {
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    position: relative;
    /*z-index: 9;*/
    border: 1px solid #dddddd;
    border-radius: 16px;
    margin: 0 15px;
    height: 100%;

    /*padding: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 9;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.40);
    border-radius: 8px;
    text-align: left;
    margin: 0 15px;
    height: 100%;*/
}

.car-div > h4 {
    color: #00bfff;
    margin: 0 0 6px 0;
    font-size: 18px;
    font-family: 'Mukta Vaani', sans-serif;
}

.car-div span {
    color: #7f7f7f;
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mukta Vaani', sans-serif;
}

.car-div span b {
    color: #7f7f7f;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mukta Vaani', sans-serif;
}

.car-div span em {
    font-style: normal;
    font-size: 12px;
}

.car-div img {
    padding: 20px 0 25px 0;
}

.car-div div.wc {
    margin-top: 15px;
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
    text-align: center;
    opacity: 0;
}

.car-div div a {
    color: #9d9d9d;
    font-size: 14px;
}

.car-div:hover {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.60);
}

.car-div:hover .wc {
    opacity: 1;
}

.pop-up {
    display: none;
    position: absolute;
    width: 520px;
    padding: 10px;
    background: #f9f9f9;
    color: #000000;
    border: 1px solid #1a1a1a;
    z-index: 99;
    bottom: 100%;
    left: -100px;
}



@media (max-width: 767px) {
    .pop-up {
        width: 100%;
        left: 0px;
    }
}

.close-div {
    text-align: right;
    padding-bottom: 4px;
}

.close-icon {
    cursor: pointer;
    font-size: 16px;
}

.mytable > table {
    margin-bottom: 10px;
}


.mytable > table > tbody > tr > td:first-child, .mytable > table > tbody > tr > td:nth-child(3) {
    color: #7f7f7f;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Mukta Vaani', sans-serif;
    padding: 4px;
}

.mytable > table > tbody > tr > td:last-child, .mytable > table > tbody > tr > td:nth-child(2) {
    color: #7f7f7f;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
}

.mytable > table > tbody > tr > td:last-child > b, .mytable > table > tbody > tr > td:nth-child(2) > b {
    color: #7f7f7f;
    padding: 0px;
    font-size: 13px;
    font-weight: normal;
}

.pop-up > p {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 0px;
}

.fil-text {
    border: 1px solid #e5e6e8;
    padding: 6px 8px;
}

.Fuel {
    font-weight: normal;
}

car-div span em b {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#00BFFF 0%, #008ebd 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #008ebd;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008ebd;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #008ebd;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008ebd;
}

.onhp {
    text-align: center;
    color: #7f7f7f;
    margin-top: -6px;
    font-size: 16px;
}

.car-div .dt {
    display: table;
    margin-top: 12px;
    width: 100%;
}

.car-div .dr {
    display: table-row;
}

.car-div .dc {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0px;
}

.nmpay {
    color: #7f7f7f;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 4px;
    font-family: 'Mukta Vaani', sans-serif;
}

.nmamt {
    color: #00bfff;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 8px;
    font-family: 'Mukta Vaani', sans-serif;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.nmamt b {
    color: #00bfff;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 8px;
    font-family: 'Mukta Vaani', sans-serif;
    cursor: pointer;
}

.nmamt em {
    font-style: normal;
    font-weight: bold;
    background-color: #00bfff;
    color: #1D1D1D;
    font-size: 18px;
    line-height: 20px;
    padding: 2px 10px 0px 16px;
    font-family: 'Mukta Vaani', sans-serif;
    cursor: pointer;
    border-radius: 4px;
}

.nmamtsp1:after {
    position: absolute;
    content: '*';
    right: -10px;
    top: 4px;
    color: #7f7f7f;
    font-size: 20px;
    line-height: 12px;
    font-family: 'Mukta Vaani', sans-serif;
    display: inline-block;
}

.nmamtsp3:before {
    position: absolute;
    content: '*';
    left: 6px;
    top: 4px;
    color: #1d1d1d;
    font-size: 20px;
    line-height: 12px;
    font-family: 'Mukta Vaani', sans-serif;
    display: inline-block;
}

.popup {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
}

@media (max-width: 767px) {
    .popup-container {
        display: block;
        width: 100%;
    }

    .popup {
        width: 100%;
    }
}

.popup-content {
    padding: 15px;
    background-color: #fff;
    display: inline-block;
    min-width: 50%;
    max-height: 100%;
    overflow-y: auto;
}

.detail-table {
    display: table;
    width: 100%;
}

@media (max-width: 1000px) {
    .detail-table {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .detail-table {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .popup {
        padding: 30px;
        box-sizing: border-box;
    }
}

.detail-cell {
    display: table-cell;
}

@media (max-width: 767px) {
    .detail-table {
        display: block;
    }

    .detail-cell {
        display: block;
        width: 100%;
    }

    .popup-content {
        display: block;
    }
}

.detail-car-div {
    padding: 0 20px 20px;
    max-width: 500px;
    margin-top: -10px;
}

@media (max-width: 767px) {
    .detail-car-div {
        padding: 10px 0 20px;
        max-width: 100%;
    }
}

.detail-car-div h4 {
    color: #00bfff;
    margin: 0 0 6px 0;
    font-size: 18px;
    font-family: 'Mukta Vaani', sans-serif;
}

.detail-car-div span {
    color: #7f7f7f;
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mukta Vaani', sans-serif;
}

.detail-car-div h5 {
    color: #00bfff;
    margin: 0 0 6px 0;
    font-size: 16px;
    font-family: 'Mukta Vaani', sans-serif;
}

.detail-car-div p.bld {
    font-weight: 600;
    padding-bottom: 4px;
    line-height: 13px;
}

@media (max-width: 991px) {
    .detail-car-div .row {
        padding-bottom: 15px;
    }
}


.detail-car-div span em {
    font-style: normal;
    font-size: 12px;
}

.detail-car-div img {
    padding: 20px 0 30px 0;
}

.detail-car-div ul {
    margin-left: 20px;
}

.detail-car-div ul li {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 20px;
}

.detail-car-div p {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 0px;
    color: #7f7f7f;
}

.detail-infodiv {
    border: 2px solid #00bfff;
    border-radius: 16px;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-infotopbg {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #4C4C4C;
    font-weight: 600;
    font-family: 'Mukta Vaani', sans-serif;
    background-color: #f2f2f2;
    padding: 4px 20px;
}

.detail-infodiv table > tbody > tr > td {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 14px;
    padding: 4px;
}

.detail-infodiv td:nth-child(2) {
    text-align: right;
}

.detail-infodiv td:last-child {
    text-align: right;
    width: 68px;
    white-space: nowrap;
}

.flexbox2 {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.flexbox2 > div.col-sm-6 {
    padding-bottom: 41px;
}

.steps {
    background-color: white;
    height: 100%;
}

.steps .upperdiv {
    width: 100%;
    min-height: 456px;
    height: auto;
    background-color: white;
}

.upperdiv .head1 {
    border-bottom: 3px solid #00bfff;
    text-align: center;
}

.upperdiv .head1 span {
    color: #a78d00;
    font-size: 18px;
    display: inline-block;
    padding: 12px;
}

.frmfield {
    padding: 20px;
}

.fielddiv {
    margin-bottom: 16px;
}

.fielddiv span {
    color: #4C4C4C;
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 15px;
}

.fielddiv .dd {
    border: none;
    border-bottom: 1px solid #4C4C4C!important;
    box-shadow: none!important;
    outline: none!important;
    border-radius: 0px!important;
    background: url('../../assets/images/dwarrow.png') no-repeat right #fff;
}

.fielddiv .tb {
    border: none;
    border-bottom: 1px solid #4C4C4C!important;
    box-shadow: none!important;
    outline: none!important;
    border-radius: 0px!important;
}

.fielddiv .tt {
    padding: 2px 7px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #ddd;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.fielddiv .sbtn {
    display: block;
    color: #4C4C4C;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #00bfff;
    margin: 0px 0 -20px;
}
#demo {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}

    /* p {
            font-size: 12px;
            width: 150px;
            display: inline-block;
            margin-left: 18px;
        }*/


    #demo input[type=radio] {
        visibility: hidden;
    }

    #demo form {
        margin: 0 30px;
    }

    #demo .radio {
        cursor: pointer;
        text-indent: 35px;
        overflow: visible;
        display: inline-block;
        position: relative;
        margin-bottom: 15px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        margin-top: 0px;
    }

        #demo .radio:before {
            background: #3a57af;
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 100%;
        }

        #demo .radio:after {
            opacity: 0;
            content: '';
            position: absolute;
            width: 0.7em;
            height: 0.27em;
            background: transparent;
            top: 9.5px;
            left: 4.5px;
            border: 3px solid #ffffff;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            font-weight: normal;
        }

    #demo input[type=radio]:checked + .radio:after {
        opacity: 1;
    }



.testbox {
    margin: 20px auto;
    width: 463px;
    /* height: 416px;*/
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
    z-index: 990;
    /*position: absolute;*/
    /*top: 10%;*/
}


#demo input[type=radio]:checked + label:after {
    opacity: 1;
}

#demo .hr1 {
    margin-top: 0;
    margin-bottom: 11px;
    border: 0;
    border-top: 1px solid #a9a9a9;
    opacity: 0.7;
}

#demo input[type=text], input[type=password] {
    width: 85%;
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px;
    padding-left: 10px;
}

#demo input[type=password] {
    margin-bottom: 25px;
}

#demo #icon {
    display: inline-block;
    width: 11%;
    background-color: #3a57af;
    padding: 8px 0px 8px 15px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 0px #cbc9c9;
}

#demo .button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 0px 20px;
    margin: 10px 8px 20px 0px;
    display: inline-block;
    float: right;
    text-decoration: none;
    /*width: 50px;*/
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #3a57af;
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
    font-family: inherit;
}

    #demo .button:hover {
        top: 3px;
        background-color: #2e458b;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: white;
    }

#demo .accounttype {
}

#demo button.close1 {
    -webkit-appearance: none;
    padding: 5px;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

#demo button:hover {
    color: #000;
}

#demo .close1 {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.0;
    color: grey;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    /*// opacity: .2;*/
}
/*.error {
            color:red;
            
        }*/

/*label.error {
            /*position: fixed;*/
/*bottom: -26px;
            left: 0px;
            color: Red;
            font-size: 13px;
            font-weight: 400;*/
/*}*/

.dropdown-backdrop1 {
    position: fixed;
    top: 85px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 973;
}

@media (max-width: 1200px) {
    .dropdown-backdrop1 {
        top: 130px;
    }
}

@media (max-width: 768px) {
    .dropdown-backdrop1 {
        top: 94px;
    }
}

label.error {
    color: red;
    font-weight: normal;
}
